@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");
html {
  font-family: "Quicksand", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.form-inputs{
  display: grid;
}

form {
  background-color: #383737;
}


mat-hint,
mat-form-field,
form h1{
  color: white;
}
