<div class="mt-5 mb-2 flex justify-between">
  <div class="division-info">
    <div class="info-row" [ngClass]="{ 'column-layout': isFirst }">
      @if(isFirst){
      <strong>Name</strong>
      }
      <div class="pill name">{{ division?.name }}</div>
    </div>
    <div class="info-row" [ngClass]="{ 'column-layout': isFirst }">
      @if(isFirst){
      <strong>Teams</strong>
      }
      <div class="pill count">{{ teamsCount }}</div>
    </div>
  </div>
  <div class="btns mr-4 flex" [ngClass]="{ 'btn-margin': isFirst }">
    <button mat-raised-button class="icn-btn" (click)="deleteDivision()">
      <img src="assets/icons/delete-icon.svg" alt="" class="size-6" />
    </button>
    <button mat-raised-button class="icn-btn" (click)="openStadiumEditPopup()">
      <img src="assets/icons/edit-icon.svg" alt="" class="size-6" />
    </button>
  </div>
</div>
