<form [formGroup]="myForm" (ngSubmit)="updateDivision()">
  <h1 mat-dialog-title class="text-black text-center text-3xl mt-3">
    {{ data.title }}
  </h1>

  <!-- Create New Division Popup-->
  <div mat-dialog-content class="form-inputs">
    <mat-form-field hintLabel="Max 40 characters">
      <mat-label>Name</mat-label>
      <input
        matInput
        formControlName="name"
        type="text"
        #inputName
        maxlength="40"
        placeholder="Ex. Division A"
        required
      />
      <mat-hint align="end">{{ inputName.value.length }}/40</mat-hint>
      <mat-error *ngIf="myForm?.get('name')?.errors?.['required']"
        >Name is required</mat-error
      >
      <mat-error *ngIf="myForm?.get('name')?.errors?.['pattern']"
        >The name must not contain spaces at the beginning or end</mat-error
      >
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      class="m-3"
      [disabled]="myForm.invalid"
    >
      Save
    </button>
    <button mat-flat-button color="warn" [mat-dialog-close] class="m-3">
      Close
    </button>
  </div>
</form>
